<article>
  <h1>Estimez le Seuil de Chiffre d'Affaire</h1>
  <section class="form">
    <form #f="ngForm" (ngSubmit)="estimateCaSeuil()">
      <fieldset>
        <legend>Choississez votre activité</legend>
        <div class="activity-type">
          <div class="form-group radio">
            <input
              id="1"
              type="radio"
              name="activity-type"
              value="Activite de Vente"
              [(ngModel)]="activityType"
              required
            />
            <label for="1">Activité de Vente</label>
          </div>
          <div class="radio form-group">
            <input
              id="2"
              type="radio"
              name="activity-type"
              value="Prestation de Service"
              [(ngModel)]="activityType"
            />
            <label for="2">Prestation de Service</label>
          </div>
          <div class="radio form-group">
            <input
              id="3"
              type="radio"
              name="activity-type"
              value="Activite liberale"
              [(ngModel)]="activityType"
            />
            <label for="3">Activité Liberale</label>
          </div>
        </div>
      </fieldset>
      <div *ngIf="activityType">
        <fieldset>
          <legend>Vos revenus</legend>
          <div class="revenues-input">
            <div class="number form-group">
              <input
                min="1"
                type="number"
                required
                name="quotient-familial"
                [(ngModel)]="quotientFamilial"
                #qf="ngModel"
                required
              />
              <label for="qf">Votre nombre de parts</label>
              <span class="bar"></span>
            </div>
            <div class="number form-group">
              <input
                min="0"
                type="number"
                required
                name="revenues"
                [(ngModel)]="revenues"
                #revNet="ngModel"
                required
              />
              <label for="number">Vos revenues salariaux annuels</label>
              <span class="bar"></span>
              <div class="currency">€</div>
            </div>
          </div>
        </fieldset>
        <input type="submit" value="Estimer" [disabled]="f.invalid" />
      </div>
    </form>
  </section>
  <section class="result">
    <div *ngIf="caSeuil">
      <span>Seuil de Chiffre d'Affaire: </span><span>{{ caSeuil }} </span>
    </div>
  </section>
</article>
