<article>
  <h1>Impôt Avec et Sans le Versement Forfaitaire</h1>
  <section class="form">
    <form #f="ngForm" (ngSubmit)="estimateImpRev()">
      <fieldset>
        <legend>Choississez votre activité</legend>
        <div class="activity-type">
          <div class="form-group radio">
            <input
              id="1"
              type="radio"
              name="activity-type"
              value="Activite de Vente"
              [(ngModel)]="activityType"
              required
            />
            <label for="1">Activité de Vente</label>
          </div>
          <div class="radio form-group">
            <input
              id="2"
              type="radio"
              name="activity-type"
              value="Prestation de Service"
              [(ngModel)]="activityType"
            />
            <label for="2">Prestation de Service</label>
          </div>
          <div class="radio form-group">
            <input
              id="3"
              type="radio"
              name="activity-type"
              value="Activite liberale"
              [(ngModel)]="activityType"
            />
            <label for="3">Activité Liberale</label>
          </div>
        </div>
      </fieldset>
      <ng-container *ngIf="activityType">
        <fieldset class="mat-situation">
          <legend>selectionnez votre situation</legend>
          <div class="chip form-group">
            <input
              #status="ngModel"
              id="married"
              type="radio"
              name="situation-maritale"
              value="married"
              [(ngModel)]="maritalStatus"
              required
            />
            <label for="married"
              ><span *ngIf="status.value === 'married'" class="material-icons">
                check </span
              >marié</label
            >
          </div>
          <div class="chip form-group">
            <input
              #status="ngModel"
              id="pacsed"
              type="radio"
              name="situation-maritale"
              value="pacsed"
              [(ngModel)]="maritalStatus"
            />
            <label for="pacsed">
              <span *ngIf="status.value === 'pacsed'" class="material-icons">
                check
              </span>
              pacsé</label
            >
          </div>
          <div class="chip form-group">
            <input
              #status="ngModel"
              id="single"
              type="radio"
              name="situation-maritale"
              value="single"
              [(ngModel)]="maritalStatus"
            />
            <label for="single"
              ><span *ngIf="status.value === 'single'" class="material-icons">
                check </span
              >célibataire</label
            >
          </div>
          <div class="chip form-group">
            <input
              #status="ngModel"
              id="parent-isole"
              type="radio"
              name="situation-maritale"
              value="parent-isole"
              [(ngModel)]="maritalStatus"
            />
            <label for="parent-isole"
              ><span
                *ngIf="status.value === 'parent-isole'"
                class="material-icons"
              >
                check </span
              >parent isolé</label
            >
          </div>
        </fieldset>
      </ng-container>
      <div class="mer">
        <fieldset *ngIf="maritalStatus">
          <legend>Vos revenus</legend>
          <div class="revenus">
            <div class="number form-group">
              <input
                min="1"
                type="number"
                required
                name="quotient-familial"
                [(ngModel)]="quotientFamilial"
                #qf="ngModel"
                required
              />
              <label for="qf">Votre nombre de parts</label>
              <span class="bar"></span>
            </div>
            <div class="number form-group">
              <input
                min="0"
                type="number"
                required
                name="revenues"
                [(ngModel)]="salaires"
                #revNet="ngModel"
                required
              />
              <label for="number">Vos revenues salariaux annuels</label>
              <span class="bar"></span>
              <div class="currency">€</div>
            </div>
            <div class="number form-group">
              <input
                min="0"
                type="number"
                required
                name="chiffre-affaire"
                [(ngModel)]="chiffreAffaire"
                #revNet="ngModel"
                required
              />
              <label for="number">Votre Chiffre d'Affaire</label>
              <span class="bar"></span>
              <div class="currency">€</div>
            </div>
          </div>
        </fieldset>
        <input
          *ngIf="f.valid"
          type="submit"
          value="Estimer"
          [disabled]="f.invalid"
          (click)="makeRipple()"
        />
        <aside class="nota-bene" *ngIf="f.valid">
          <p>
            ! Vous pouvez opter pour le versement libératoire de l’impôt sur le
            revenu au titre de l'année 2022 si le revenu fiscal de référence
            (RFR) du foyer fiscal pour l'année N-2, soit 2020, n’excède pas 25
            710 € pour une part de quotient familial (51 420€ pour un couple,
            soit 2 parts ; enfin, 77 130 € pour un couple avec 2 enfants, soit 3
            parts)
            <a
              href="https://www.impots.gouv.fr/professionnel/questions/en-tant-que-micro-entrepreneur-sous-quelles-conditions-puis-je-opter-pour-l#:~:text=Vous%20pouvez%20opter%20pour%20le,pour%20un%20couple%20avec%202"
              >lien</a
            >
          </p>
        </aside>
      </div>
    </form>
  </section>
  <section class="table" *ngIf="irAvecVfl">
    <p>Liste de vos Simulations</p>
    <input type="button" value="effacer" (click)="clearData()" />
    <table>
      <thead>
        <tr>
          <th>Nombre de Parts</th>
          <th>Salaires</th>
          <th>Chiffre d'Affaire</th>
          <th>Sans Versement Forfaitaire</th>
          <th>Avec Versement Forfaitaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of storedSimulation">
          <td>{{ item.quotientFamilial }}</td>
          <td>
            {{ item.salaires | currency : "EUR" : "symbol" : "0.0" : "fr" }}
          </td>
          <td>
            {{
              item.chiffreAffaire | currency : "EUR" : "symbol" : "0.0" : "fr"
            }}
          </td>
          <td>
            {{ item.irSansVfl | currency : "EUR" : "symbol" : "0.0" : "fr" }}
          </td>
          <td>
            {{ item.irAvecVfl | currency : "EUR" : "symbol" : "0.0" : "fr" }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="anim-bottom">
    <div [class.ripple]="addingRowTable"></div>
  </section>
</article>
