<article>
  <section>
    <form #f="ngForm" (ngSubmit)="simulateIR(f.value)">
      <fieldset class="activity-type" (change)="show()">
        <legend>Choississez votre activité</legend>
        <div class="form-group radio">
          <input
            id="1"
            type="radio"
            name="activity-type"
            value="Activite de Vente"
            [(ngModel)]="activityType"
            required
          />
          <label for="1">Activite de Vente</label>
        </div>
        <div class="radio form-group">
          <input
            id="2"
            type="radio"
            name="activity-type"
            value="Prestation de Service"
            [(ngModel)]="activityType"
          />
          <label for="2">Prestation de Service</label>
        </div>
        <div class="radio form-group">
          <input
            id="3"
            type="radio"
            name="activity-type"
            value="Activite liberale"
            [(ngModel)]="activityType"
          />
          <label for="3">Activite liberale</label>
        </div>
      </fieldset>
      <fieldset class="mat-situation" (change)="tac(status)">
        <legend>selectionnez votre situation</legend>
        <div class="chip form-group">
          <input
            #status="ngModel"
            id="single"
            type="radio"
            name="situation-maritale"
            value="single"
            [(ngModel)]="maritalStatus"
          />
          <label for="single"
            ><span *ngIf="maritalStatus === 'single'" class="material-icons">
              check </span
            >célibataire</label
          >
        </div>
        <div class="chip form-group">
          <input
            #status="ngModel"
            id="married"
            type="radio"
            name="situation-maritale"
            value="married"
            [(ngModel)]="maritalStatus"
          />
          <label for="married"
            ><span *ngIf="maritalStatus === 'married'" class="material-icons">
              check </span
            >marié</label
          >
        </div>
        <div class="chip form-group">
          <input
            #status="ngModel"
            id="pacsed"
            type="radio"
            name="situation-maritale"
            value="pacsed"
            [(ngModel)]="maritalStatus"
          />
          <label for="pacsed">
            <span *ngIf="maritalStatus === 'pacsed'" class="material-icons">
              check
            </span>
            pacsé</label
          >
        </div>
        <div class="chip form-group">
          <input
            #status="ngModel"
            id="veuf"
            type="radio"
            name="situation-maritale"
            value="veuf"
            [(ngModel)]="maritalStatus"
          />
          <label for="veuf"
            ><span *ngIf="maritalStatus === 'veuf'" class="material-icons">
              check </span
            >veuf</label
          >
        </div>
        <div class="chip form-group">
          <input
            #status="ngModel"
            id="parent-isole"
            type="radio"
            name="situation-maritale"
            value="parent-isole"
            [(ngModel)]="maritalStatus"
          />
          <label for="parent-isole"
            ><span
              *ngIf="maritalStatus === 'parent-isole'"
              class="material-icons"
            >
              check </span
            >parent isolé</label
          >
        </div>
      </fieldset>
      <ng-container *ngIf="isClicked">
        <fieldset class="revenus">
          <legend>Vos revenus</legend>
          <div class="number form-group">
            <input
              min="0"
              type="number"
              required
              name="quotient-familial"
              [(ngModel)]="quotientFamilial"
              #qf="ngModel"
              required
            />
            <label for="qf">Indiquez votre QF</label>
          </div>
          <div class="number form-group">
            <input
              min="0"
              type="number"
              required
              name="revenues"
              [(ngModel)]="revenues"
              #revNet="ngModel"
              required
            />
            <label for="number">Indiquez votre salaire annuel net</label>
            <div class="currency">€</div>
          </div>
        </fieldset>
      </ng-container>
      <input type="submit" value="Simuler" />
    </form>
  </section>
  <section></section>
</article>
