$base-color: #96154a;

nav {
    ul {
        display: flex;
        list-style: none;
        height: 6rem;
        align-items: center;
        background-color: rgba($color: $base-color, $alpha: 0.8);
        font-size: 1.4rem;
        column-gap: 2rem;
        padding-left: 5rem;
        
        li {
            a {
                text-decoration: none;
                color: #f5f5f7;
                transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            }
           
            a:hover {
              opacity: 0.8;
            }
          }

        li:first-child {
            margin-left: 1rem;
        }

        li:last-child {
                padding-right:3rem;
                margin-left: auto;
                margin-right: 1rem;
            }      
          }

}

main {
  min-height: calc(100vh - 6rem);
}

footer {
  height: 15rem;
  background-color: rgba($color: black, $alpha: 0.8);

  address {
    width: fit-content;
    margin: auto;
    margin-right: 3rem;
    margin-top: 2rem;
    a {
      color: rgba($color: white, $alpha: 0.5);
      font-size: 1.4rem;
      font-style: normal;
      text-decoration: none;
    } &::before {
        content: '📧 :';
    }
  }
}

