<header>
  <nav>
    <ul>
      <li><a routerLink="">Acceuil</a></li>
      <li>
        <a routerLink="/seuil-chiffre-d'affaire">Seuil Chiffre d'Affaire</a>
      </li>
      <li>
        <a routerLink="/impot-revenues-versement-forfaitaire"
          >Impôt sur le Revenue</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCpVd5zrbCcM9xmIOSYTocTQ"
          target="_blank"
          >Formation</a
        >
      </li>
      <li><a routerLink="">Contacts</a></li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <address>
    <a href="tel:+33769094133"> contact: +33-769094133</a>
  </address>
</footer>
