<header>
  <nav>
    <ul>
      <li><a routerLink="">Acceuil</a></li>
      <li>
        <a routerLink="/seuil-chiffre-d'affaire">Seuil Chiffre d'Affaire</a>
      </li>
      <li>
        <a routerLink="/impot-revenues-versement-forfaitaire"
          >Impôt sur le Revenue</a
        >
      </li>
      <li>
        <a routerLink="/immatriculation">Immatriculation</a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCpVd5zrbCcM9xmIOSYTocTQ"
          target="_blank"
          >Formation</a
        >
      </li>
      <li><a href="#footer">Contacts</a></li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer id="footer">
  <address>
    <a href="mailto:formyum@proton.me">formyum@proton.me</a>
  </address>
</footer>
