$base-color: #96154a;

nav {
    ul {
        display: flex;
        list-style: none;
        height: 6rem;
        align-items: center;
        background-color: rgba($color: $base-color, $alpha: 0.8);
        font-size: 1.4rem;
        column-gap: 2rem;
        
        li {
            a {
                text-decoration: none;

            }
            a:link {
                color: white;
              }
            a:visited {
              color: white;
            }
            
            a:hover {
              color: $base-color;
            }
            
            a:active {
              color: white;
              }

            }
        li:first-child {
            margin-left: 1rem;
        }
        li:last-child {
                margin-left: auto;
                margin-right: 1rem;
            }      
          }

}